<% if review = Review.find_by(id: review_id) %>
  <% user = User.find_by(id: review.user_id) %>
  <% full_name = "#{user.first_name} #{user.last_name}" %>



  <h4>
    <% if current_user != nil && user.id == current_user.id%>
      <%= link_to fa_icon('trash'),  product_review_path(@product.id, review.id) , class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  <%= "\u{2B50}" * review.rating %></h4>
  <em>By <%= full_name %> </em>
  <p/>
  <p><%= review.description %></p>
  <br>
<% end %>
