
<% if review = Review.find_by(id: review_id) %>
  <% user = User.find_by(id: review.user_id) %>

  <h4><%= user.first_name %> <%= user.last_name %></h4>
  <p> Rating <%= review.rating %></p>
  <p><%= review.description %></p>
<% end %>
